#mi_trabajo{
    background-color: rgb(17, 17, 17);
    position: relative;
    overflow: hidden;
    padding: 150px 0;

}




.mi_trabajo_contenedor{
    margin: 0 auto;
    max-width: 93rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.trabajos_izquierda{
    display: flex;
    justify-content: center;
    align-items: center;
    height:550px;
    z-index: 3;

}

.trabajos_derecha{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height:550px;
    z-index: 3;

}

.trabajos_izquierda_imagen , .trabajos_derecha_imagen{
    width: 40%;
}

.trabajos_izquierda_imagen img , .trabajos_derecha_imagen img {
    width: 100%;
    
}

.trabajos_izquierda_info , .trabajos_derecha_info{
    width: 60%;
    box-sizing: border-box;
    padding: 15px;
}

.trabajos_izquierda_info h3 , .trabajos_derecha_info h3{
    color: white;
    font-size: 60px;
    margin: 0;
}

.trabajos_izquierda_info p , .trabajos_derecha_info p{
    color: white;
    font-size: 30px;
}


.trabajos_izquierda_info a , .trabajos_derecha_info a{
    color:  rgba(255, 255, 255, 0.532);
    font-size: 40px;
    text-decoration: none;
    padding: 15px 20px;
    border: 2px solid rgba(255, 255, 255, 0.532);
    transition: all 0.5s;
    border-radius: 5px;
}

.trabajos_izquierda_info a:hover , .trabajos_derecha_info a:hover{
    color:  rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}

 

.rectangulo{
    width: 250px;
    height: 250px;
    border: 5px solid #f49f2050;
    position: absolute ;
    transform: rotate(45deg);
    z-index: 2;
    animation: animacionRombo  1s alternate-reverse  infinite ;    

}

.rectangulo:nth-child(1) {
    width: 300px;
    height: 300px;
    top: 70px;
    left: 0;
}

.rectangulo:nth-child(2) {
    top: 1500px;
    left: 0;
    width: 600px;
    height: 600px;
    animation-delay: 0.2s;

}

.rectangulo:nth-child(3) {
    top: 800px;
    right: 0;
    width: 900px;
    height: 900px;
    animation-delay: 0.4s;
}

.rectangulo:nth-child(4) {
    bottom: 50px;
    right: 10px;
    width: 250px;
    height: 250px;
    animation-delay: 0.6s;
}

@keyframes animacionRombo {
    
    0%{ box-shadow: 0 0 0px 0px #f49f20; }
    100%{ box-shadow: 0 0 10px 1px #f49f20 }
}