#Habilidades{
    background-color: rgb(17, 17, 17);
    min-height: 100vh;
}



.habilidades_contenedor{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}


.Habilidades_letras_contenedor{
    position: relative;
    height: 500px;
    position: absolute;
    width: 100%;
}



.habilidades_card{
    backdrop-filter: blur(5px);
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid rgb(65, 65, 65);
    border-bottom:  2px solid rgb(65, 65, 65);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}

.habilidades_card::before{
    content: '';
    display: block;
    position: absolute;
    max-width: 400px;
    width: 90%;
    height: 400px;
    transform: skewX(45deg) translateX(600px);
    background: rgba(255, 255, 255, 0.5);
    transition: 0.5s;


}
 

.habilidades_card:hover::before{
    transform: skewX(45deg) translateX(-600px);
}

.habilidades_card_header , .habilidades_card_body, .habilidades_card_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.habilidad{
    width: 33%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.habilidad_icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 

.habilidad_texto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.habilidad_texto h3{
   margin: 0;
   color: white;
   font-size: 20px;
   cursor: context-menu;

}
 

.icon{
    width: 50px;
    height: auto;
    fill: white;
}


.letras p {
    color: white;
    font-size: 20px;
    position: absolute;
    left: -500px;
    transform: translateX(0);
    animation: letrasAnimacion  20s linear  infinite ;
    min-width: 550px;
    cursor: context-menu;

}

.letras:nth-child(1) p{
    top: 0%;
    animation-delay: 2s;
}

.letras:nth-child(2) p{
    top: 8.33%;
    animation-delay: 4s;
}

.letras:nth-child(3) p{
    top: 33.32% ;
    animation-delay: 6s;
}

.letras:nth-child(4) p{
    top: 41.65%;
    animation-delay: 8s;
}

.letras:nth-child(5) p{
    top: 16.66%;
    animation-delay: 10s;
}
.letras:nth-child(6) p{
    top: 24.99%;
    animation-delay: 12s;
}
.letras:nth-child(7) p{
    top: 49.98%;
    animation-delay: 14s;
}
.letras:nth-child(8) p{
    top: 74.97%;
    animation-delay: 16s;
}
.letras:nth-child(9) p{
    top: 58.31%;
    animation-delay: 18s;
}
.letras:nth-child(10) p{
    top: 66.64%;
    animation-delay: 20s;
}
.letras:nth-child(11) p{
    top: 55%;
    animation-delay: 20.5s;
}
.letras:nth-child(12) p{
    top: 83.30%;
    animation-delay: 21.5s;
}



@keyframes letrasAnimacion {
    0%{ left: -500px;}
    100%{ left: 3500px; }
}


@media (max-width: 1265px){

    .habilidades_card::before{
        display: none;
    
    
    }


}



@media (max-width: 700px){

    .habilidades_card{
        width: 75%;
        overflow: hidden;
    }
    
    
    
    .habilidad{
        width: 33%;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    
   
    
    
    
    .habilidad_texto h3{
       margin: 5px 0;
       font-size: 12px;
    
    }
     
    
    .icon{
        width: 40px;
    }
}
