.contenedor_boton{
    width: 60px;
    height: 55px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.barra{
    display: block;
    width: 90%;
    height: 6px;
    margin: 4px 0;
    background-color: white;
    transition: all 0.3s;
}


.barra_arriba{
    margin: 0 auto;
    transform: translateY(6px) rotate(-45deg);
}
.barra_medio{
    margin: 0 auto;
    width: 5%;
    opacity: 0;
    

}
.barra_abajo{
    margin: 0 auto;
    transform:translateY(-6px)  rotate(45deg);
}